/* fonts */
/* Roboto */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Quicksand:wght@400;500;600;700&family=Raleway:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500;600&display=swap');

/* tailwind directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
}
.trend {
  height: calc(100vh - 60px);
}
.bars {
  box-shadow: rgba(88, 30, 235, 0.2) 0px 1px 3px 0px;
}
.search {
  box-shadow: rgba(25, 25, 26, 0.2) 0px 1px 1px 2px;
}
.bgz {
  background: rgba(88, 30, 235, 0.1);
}
.bgz2 {
  background: rgba(88, 30, 235, 0.7);
}
.view {
  display: none;
}
